<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css"
</head>
<body>
    <div>soy el div 1</div>
    <div>soy el div 2</div>
    <div>soy el div 3</div>
    <div>soy el div 4</div>
    <div>soy el div 5</div>
    <div>soy el div 6</div>
    <div>soy el div 7</div>
    <div>soy el div 8</div>
    <div>soy el div 9</div>
    <div>soy el div 10</div>
    <div>Soy el div 1</div>
    <div>Soy el div 2</div>
    <div class="card card1">Soy card-1</div>
    <div>Soy el div 3</div>
    <div>Soy el div 4</div>
    <div class="card">Soy solo card</div>
    <div>Soy el div 5</div>
    <div>Soy el div 6</div>
    <div>Soy el div 7</div>
    <div class="card card2">Soy card-2</div>
    <div>Soy el div 8</div>
    <div>Soy el div 9</div>
    <div>Soy el div 10</div>
    <button>Soy el button 1</button>
    <button>Soy el button 2</button>
    <button>Soy el button 3</button>
    <button>Soy el button 4</button>
    <button>Soy el button 5</button>
    <button>Soy el button 6</button>
    <button>Soy el button 7</button>
    <button>Soy el button 8</button>
    <button>Soy el button 9</button>
    <button id="eliminar">¡Elimínalo!!!!!!!!</button>
</body>

</html>