div {
    background-color: blue;
}
.card {
    color: azure
    ;}
    .card1 {
        color: blueviolet;
    }
    .card2 {
        color: chartreuse;
    }
    #eliminar {
        background-color: black;
    }